/*Navbar*/

.container-fluid-img {
  width: 1em;
  margin-right: 0.5em;
}

.offcanvas-title-img {
  width: 4em;
  display: block;
  margin:auto;
}

/*Carousel*/
.carousel-item {
  height: 100vh;
  width: 100vw;
}

.carousel-item-link-img {
  height: 100%;
  /*   object-fit: cover; */
}
.carousel-item-caption {
  position: absolute;
  bottom: 0; /* Ajusta esto según tu diseño, puede ser top: 0, left: 0, etc. */
  width: 100%;
  padding: 20px;
}
.carousel-item-caption-p {
  color: #fff; /* Color del texto */
  font-size: 2.5em;
}
