/*Estilos del index.html*/

.container-carousel{
    height: 100vh;
    width: 100vw;
    
}

.container-carousel__carousel-inner{
    height: 100%;
    width: 100%;   
}

.container-carousel__carousel-inner__item-btn, .container-carousel__carousel-inner__item-p{
    position: absolute;
    top: 0;
}
.container-carousel__carousel-inner__item-link{
    color: white;

}
.container-carousel__carousel-inner__item-p{
    color: white;
    
}